/* #region Commons */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* #endregion Commons */


/* #region debug */

.debug #site_header {
    height: 75px;
    background-color: palevioletred;
}

.debug #site_header .logo,
.debug #site_header .mobile_menu,
.debug #site_header .desktop_menu {
    border: 1px dotted black;
}

.debug #site_main {
    height: 2500px;
    background-color: palegreen;
}

.debug #services [class^="col-"] {
    background-color: rgb(51, 5, 138);
    border: 1px dashed black;
    height: 250px;
    padding: 1rem;
}

.debug .card {
    background-color: palegoldenrod;
    height: 100%;
}

.debug .card_text {
    height: 100px;
    background-color: rgb(255, 217, 0);
}

.debug .card_img {
    height: 100px;
    background-color: rgb(255, 217, 0);
}

.debug #plane {
    height: 500px;
    background-color: rgb(83, 0, 160);
}

.debug #plane .card {
    height: 250px;
}

.debug #site_footer {
    height: 150px;
    background-color: rgb(255, 0, 85);
}




/* #endregion debug */

/* #region utilities */

:root {
    --rl-white: #FFFFFF;
    --rl-black: #000000;
    --rl-dark: #333333;
    --rl-light: #3f3e3e94;
    --rl-accent: #0084fd;
    --rl-soft-accent: #b5ddff;
    --rl-primary: #9792e4;
    --rl-warning: #fdc15f;
}

.container {
    max-width: 1152px;
    width: 85%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-direction-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-decoration-none {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.col-12 {
    width: 100%;
}

.img-fluid {
    max-width: 100%;
}

.btn {
    background-color: var(--rl-white);
    color: var(--rl-black);
    padding: 0.5rem 1rem;
    border-radius: 25px;
}

.btn-lg {
    display: inline-block;
    background-color: var(--rl-white);
    color: var(--rl-black);
    padding: 0.35rem 3.5rem;
    border-radius: 25px;
}

/* #endregion utilities */


/** MOBILE FIRST **/


/* #region #site_header */

#site_header {
    background-color: var(--rl-accent);
    color: var(--rl-white);
    font-size: 1.1rem;
    font-weight: thin;
    height: 150px;
}

#site_header a {
    color: var(--rl-white);
}

#site_header a.btn {
    color: var(--rl-black);
}

#site_header .container {
    height: 100%;
}

#site_header .desktop_menu {
    display: none;
}

#site_header .logo,
#site_header .mobile_menu,
#site_header .desktop_menu {
    padding: 1rem 0;
}

/* #endregion #site_header */

/* #region #site_main */

/* #services */
#services .row {
    padding: 2.5rem 0;
    margin: 0 -1rem;
}

#services [class^="col-"] {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}

#services .card {
    background-color: var(--rl-soft-accent);
    border-radius: 20px;
    padding: 0 2rem;
    height: 100%;
}

#services .card .card_text {
    /* line-height: 160%; */
    font-weight: bold;
    color: var(--rl-light);
}

#services .card .card_text h2 {
    color: var(--rl-accent);
    margin: 1.5rem 0;
}

#services .card .card_text p {
    margin-bottom: 2rem;
    line-height: 170%;
}

#services .card .card_text a {
    color: var(--rl-white);
    background-color: var(--rl-accent);
    letter-spacing: .15rem;
}

#services .card .card_img {
    text-align: center;
    padding-top: 2rem;
    line-height: 0;
    color: var(--rl-accent);
}

#services .card>*:last-child {
    margin-top: 1rem;
}

/* #region plane */

#plane {
    background-color: var(--rl-primary);
}

#plane .left {
    color: var(--rl-white);
}

#plane .right .card {
    background-color: var(--rl-white);
    border-radius: 45px;
    text-align: center;
}

#plane .row {
    padding: 3rem 0;
    margin: 0 -2rem;
}

#plane [class^="col-"] {
    padding: 0 2rem;
}

#plane .card {
    height: 100%;
}

#plane .left .card h2 {
    padding-bottom: 5rem;
    font-size: 2.5rem;
}

#planning .left .card {
    margin-bottom: -2rem;
}

#plane .right .card {
    padding: 2rem 1rem;
}

#plane .right .card h2 {
    padding: 1rem 0;
    font-size: 2rem;
}


#plane .arrow {
    background-color: var(--rl-primary);
    border-radius: 50%;
    margin-top: 2rem;
    padding: 2rem 1.5rem;
    color: var(--rl-black);
}

/* #endregion plane */

#partners [class^="col-"] {
    margin: 1rem 0;
}

#partners .row {
    padding-bottom: 4rem;
}

#partners header {
    padding: 2.5rem 0;
}

#partners header h1 {
    font-size: 2.5rem;
    padding: 2rem 0;
    line-height: 140%;
    color: var(--rl-primary);
}

#partners .card {
    background-color: var(--rl-primary);
    color: var(--rl-white);
    border-radius: 30px;
    padding: 2rem 1rem;
}

#partners .card p {
    padding: 1rem 0;
}

#partners .card .nat,
#partners .card .celia,
#partners .card .bob {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

#partners .nat {
    background-image: url("/img/testimonial1.jpg");
}

#partners .celia {
    background-image: url("/img/testimonial2.jpg");
}

#partners .bob {
    background-image: url("/img/testimonial3.jpg");
}

/* #endregion partners */

/* #endregion #site_main */

/* Tablet media query */

@media screen and (min-width: 768px) {

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    #services .card .btn-lg {
        display: block;
        max-width: 50%;
        padding: .25rem 1.5rem;
    }

    .img-fluid {
        display: block;
        max-width: 50%;
    }

    #plane .row {
        padding-top: 7rem;
    }

    #plane .left .card h2 {
        padding: 5rem 0;
        font-size: 2.5rem;
    }

}

/* Desktop media query */

@media screen and (min-width: 1200px) {

    #site_header .mobile_menu {
        display: none;
    }

    #site_header .desktop_menu {
        display: block;
    }

    #site_header .desktop_menu a {
        margin-left: 2rem;
    }

    #site_main #services .get_demo {
        display: flex;
        justify-content: space-around;
    }

    #site_main #services .get_demo .card_img {
        align-self: end;
    }

    #site_main #services .get_demo .card_img img {
        display: inline-block;
        min-width: 80%;
    }

    #site_main #planning .col-lg-6 {
        width: calc(100% / 12 * 6);
    }

    #plane .right {
        padding-top: 15rem;
    }

    #plane .left img {
        padding-bottom: 5rem;
    }

}